/*
Theme Name: Best Care
Theme URI: https://github.com/cathelijne/bcd
Template: twentytwentyfive
Author: Cathelijne Hornstra
Author URI: https://cathelijne.github.io
Description: Best Care is based on Twenty Twenty-Five
Tags: one-column,custom-colors,custom-menu,custom-logo,editor-style,featured-images,full-site-editing,block-patterns,rtl-language-support,sticky-post,threaded-comments,translation-ready,wide-blocks,block-styles,style-variations,accessibility-ready,blog,portfolio,news
Version: 1.4.1767364374
Updated: 2026-01-02 16:32:54

*/

